@import '~office-ui-fabric-react/dist/sass/References.scss';

.formWrapper{
  margin: 14px;
  font-size: 110%;

  label {
      margin-bottom: 4px;
  }

  li {
      margin-bottom: 6px;
      margin-top: 10px;
  }

  ul li {
      list-style-type:none;
      margin-left: 0px;
  }

  span.underline {
      text-decoration: underline;
  }
  h3.underline {
      border-bottom: 1px solid black;
  }

  span.bold {
      font-weight: bold;
  }
  input[type=text] {
    width: 100%;
    display: block;
  }

}
